

//$google-font: "url-here";
// @if(global-variable-exists(google-font)) {
//     @import url($google-font);
// }

// $grid-gutter-width: 100px;
// @import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// @import "{poetic:materialize-scss}/sass/components/_color.scss";
// $primary-color: color("blue", "lighten-2");

// @import "materialize.scss";
@import "{poetic:materialize-scss}/sass/materialize.scss";

$clientSidebarWidth: 230px;

$darkblue: #1e2f5d;
$darkerblue: #17274c;
$blue: #1e60ac;
$lightblue: #6293ca;
$brand-primary: $blue;
$brand-success: #00724f;
$lightGreen: #12ae7f;
$blueGrey: #dce0eb;

html, body {
  width: 100%;
  height: 100%;
}

.main-container {
  padding: 97px 0 0 $clientSidebarWidth;
}

.player-wrap {
  padding: 15px 15px 25px $clientSidebarWidth + 15;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: $darkblue;
  color: #fff;
  margin-bottom: 0;

  .player-title {
    float: right;
  }
}

.client-sidebar {
  position: fixed;
  z-index: 1040;
  width: $clientSidebarWidth;
  height: 100%;
  background: darken($darkblue, 10%);
  color: $blueGrey;
  word-wrap: break-word;

  .rw-client-name {
    margin-top: 0;
    padding: 5px;
    background: $darkblue;
    color: $lightblue;
    text-align: center;
    font-size: $h5-fontsize;
  }

  .client-contact-details {
    padding: 10px;
    list-style: none;
    font-size: .8em;
  }
}

.current-podcast-details {
  padding-top: 25px;
  background: $brand-success;
  color: #fff;
  box-shadow: inset 0px -10px 40px rgba(0,0,0,.3);

  h1 {color: $lightGreen}

  a {color: #fff;}

  .icon-container {
    border-radius: 4px 4px 0 0;
    background: $lightGreen;
    margin-top: 25px;
    padding: 25px;
    color: lighten($lightGreen, 25%);
    display: flex;
    justify-content: space-between;
  }
}


.podcast-library-wrap {
  .podcast-list {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: space-between;

    .media {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      border: 1px solid $blueGrey;
      width: 48%;
      padding: 5px;

      &:hover {
        background-color: lighten($blueGrey, 3%);
        .media-heading {color: $blue;}
      }

      .media-heading {
        margin-top: 0;
      }

      .media-left {
        img {
          max-width: 100px;
        }
        span {
          display: block;
          text-align: center;
          font-size: .8em;
          margin-top: 4px;
        }
      }
    }
  }
}

.client-footer {
  padding-top: 50px;
  padding-bottom: 75px;
  color: #5a5a5a;
  background: #282d31;
}


@media (max-width: 767px) {
  .player-wrap { padding: 15px 15px 25px; }
  .main-container { padding: 97px 0 100px; }
  .client-sidebar {display: none;}
}


/*     CUSTOM RW PLAYER STYLES
**************************************/
.mejs-container .mejs-controls {
  margin-top: 10px;
	background: transparent;
}

.mejs-controls {
  .mejs-time-rail {
    .mejs-time-current {
      background: $lightGreen;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($lightGreen), to($brand-success));
      background: -webkit-linear-gradient(top, $lightGreen, $brand-success);
      background: -moz-linear-gradient(top, $lightGreen, $brand-success);
      background: -o-linear-gradient(top, $lightGreen, $brand-success);
      background: -ms-linear-gradient(top, $lightGreen, $brand-success);
      background: linear-gradient($lightGreen, $brand-success);
      width: 0;
    }
    .mejs-time-loaded {
      background: #fff;
      background: rgba(255,255,255,0.8);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      width: 0;
    }
  }
}
