$darkblue: #1e2f5d;
$darkerblue: #17274c;
$blue: #1e60ac;
$lightblue: #6293ca;
$green: #00724f;
$lightGreen: #12ae7f;
$blueGrey: #dce0eb;
$clientSidebarWidth: 200px;

//$google-font: "url-here";
// @if(global-variable-exists(google-font)) {
//     @import url($google-font);
// }

$grid-gutter-width: 100px;
@import "{}/node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

html, body {
  width: 100%;
  height: 100%;
}

.player-wrap {
  padding: 15px 15px 25px $clientSidebarWidth + 15;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  background: $darkblue;
  color: #fff;

  .rw-logo {
    float: right;
  }
}

.client-sidebar {
  position: fixed;
  z-index: 1040;
  width: $clientSidebarWidth;
  height: 100%;
  background: darken($darkblue, 10%);
  color: $blueGrey;
  word-wrap: break-word;

  .rw-client-name {
    margin-top: 0;
    padding: 5px;
    background: $darkblue;
    color: $lightblue;
    text-align: center;
  }

  ul {
    font-size: .8em;
  }
}

.main-container {
  padding: 125px 0 125px 200px;
}

.podcast-library-wrap {
  .media {
    &:hover {
      background-color: lighten($blueGrey, 3%);
      .media-heading {color: $blue;}
    }

    .media-heading {
      margin-top: 0;
    }

    .media-left {
      img {
        max-width: 100px;
      }
      span {
        display: block;
        text-align: center;
        font-size: .8em;
        margin-top: 4px;
      }
    }
  }
}


/*     CUSTOM RW PLAYER STYLES
**************************************/

.mejs-container .mejs-controls {
	background: transparent;
}

.mejs-controls {
  .mejs-time-rail {
    .mejs-time-current {
      background: $lightGreen;
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($lightGreen), to($green));
      background: -webkit-linear-gradient(top, $lightGreen, $green);
      background: -moz-linear-gradient(top, $lightGreen, $green);
      background: -o-linear-gradient(top, $lightGreen, $green);
      background: -ms-linear-gradient(top, $lightGreen, $green);
      background: linear-gradient($lightGreen, $green);
      width: 0;
    }
    .mejs-time-loaded {
      background: #fff;
      background: rgba(255,255,255,0.8);
      background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255,255,255,0.9)), to(rgba(200,200,200,0.8)));
      background: -webkit-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: -moz-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: -o-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: -ms-linear-gradient(top, rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      background: linear-gradient(rgba(255,255,255,0.9), rgba(200,200,200,0.8));
      width: 0;
    }
  }
}
